.home-container {
    background-color: rgb(136, 132, 132);
    display: flex;
    align-items: center;
    justify-content: center;
}
.map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
