body {
    background-color: rgb(223, 223, 223);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
// router-outlet {
//     width: 100%;
// }
::ng-deep app-home {
    width: 100%;
}
